[2017-03-23 18:27] ev1stensberg opened #2 "Links not correct"
Some, I assume a lot of links are broken, as the tutorial has been moved and some files aren't relative anymore. Do you want me to update those?

[2017-03-23 19:13] larkin commented on #2
The links have been broken-- never worked as we were waiting for transfer.

The links are intended to be links to specific tagged versions of the files.  So for `part-a`, the link would show you the version of the file after completing `part-a` (it would be a link to `part-b-step-1`.  So `part-a`'s `index.html` would link to https://github.com/nasa/openmct-tutorial/blob/part-b-step-1/index.html

@

[2017-03-23 21:45] akhenry commented on #2
@larkin Exactly

@ev1stensberg It would be hugely appreciated if you could update these. The tags provide a way to check out the tutorial files as they should be at the __beginning__ of the corresponding step, (ie. at the end of the previous step). As @larkin says, this means that in most cases, the links from the tutorial text to the relevant code will need to link to the tag associated with the

[2017-03-23 22:38] ev1stensberg commented on #2
@akhenry I'll send you a PR tomorrow, we've got different timezones :( Also, for the Yamcs plugin, do you want me to use `legacyregister` to create the plugin, or like this tutorial creates a plugin?

[2017-03-24 16:04] #2 closed

[2017-03-24 19:12] larkin opened #5 "add instructions, maybe tag, for completed tutorials"
It's not clear that the "completed" state of the tutorials is reflected in the master branch.  If you're trying to shortcut from step-d to the end, it's not clear where to go.  We should document this.

We could also rename the `master` branch to `completed` or similar to clarify this.  @akhenry thoughts?

[2017-04-03 18:57] akhenry commented on #5
I like the idea of renaming master to 'completed'. Then it's clear in the branch name and this works nicely -
[code]

We should also update the docs though to make it clearer

[2017-04-05 23:14] VWoeltjen opened #9 "Dead links in tutorial"
There are a few "learn more about..." links in README.md that don't have associated content. We should either author that content, or remove those links (and make sure the tutorial content is self-sufficient.)

[2017-04-05 23:35] akhenry commented on #9
@VWoeltjen There is an outstanding PR that fixes dead links - #6 Just needs to be merged.

[2017-04-10 03:23] nikmandava opened #10 "Spelling mistake in instructions "stuch" instead of "stuck""
Ironically, in the paragraph detailing how to file issues right above Part A, "if you do get **stuch** you can use the tags to skip ahead. If you do get stuck, please let us know by filing in issue in this repository so that we can improve the tutorials"

In the first, bolded, instance "stuch" should be replaced with "stuck"

It may seem like nitpicking but I just want to point it out.

-Nikhil Ma

[2017-04-10 15:48] #10 closed

[2017-04-10 20:25] #9 closed

[2017-05-29 16:08] bryan-lunt opened #12 "Telemetry plugin might get websocket server URL either dynamically or from a config?"
Currently the code assumes the telemetry server is running on localhost, but that's not always a valid assumption.

[2017-05-30 18:04] larkin commented on #12
@bryan-lunt What environment are you running this in where localhost is an invalid assumption?

For the purpose of this tutorial, we provide a fixed server so that people can focus on the contents of Open MCT first without having to think too much about deployment options.  But maybe there's an edge case we can better communicate?

[2017-05-30 21:01] bryan-lunt commented on #12
@larkin I am running my development server in Docker.

It's easy enough to make it work, and I guess I understand the reasoning here.

`var dynamic_url = 'ws://' + window.location.host + ':8082';
var socket = new WebSocket(dynamic_url);`

[2017-05-31 03:40] RGD2 commented on #12
@larkin Hi again. You must hate me already :)

This seems to silently break the tutorial for me too.

If I'm to run openmct, it's going to live on a headless server and be accessed from multiple clients over a lan.

So naturally, I evaluate openmct-tutorial on the server I have for the purpose, which is just a fairly ordinary Ubuntu LTS machine -- but it's not my desktop machine.

I just assumed t

[2017-05-31 18:04] larkin commented on #12
@RGD2 I really appreciate your feedback!

We can improve this.  While a dynamic solution would work, that's very specific to this telemetry server.  I'd instead prefer to use this as an opportunity to demonstrate how plugins typically receive configuration information, so we'd change the index.html to be something like:

[code]

That make sense to you?

[2017-06-01 00:09] RGD2 commented on #12
You're welcome!

Ah, that's even better!

[2017-06-01 00:21] larkin commented on #12
@bryan-lunt I noticed you're working on some kerbal integrations with krpc or otherwise.  You should also check out the previous [kerbal-openmct](https://github.com/hudsonfoo/kerbal-openmct) integration plugin which [needs to be updated for the new APIs.](https://github.com/hudsonfoo/kerbal-openmct/issues/10)  At the very least, it might be helpful for your work.

[2017-06-01 02:55] bryan-lunt commented on #12
I guess I mostly replied to this in the other issue/thread.
Yes, I've seen that. Thanks for the heads-up though.

In the long-term, I intend to (after re-reading licensing) pull some of the display code from there and Telemachus proper and make them available components for openMCT. If I remember properly, [kerbal-openmct](https://github.com/hudsonfoo/kerbal-openmct) was basically one component pa

[2017-06-01 03:33] larkin commented on #12
@bryan-lunt the component in kerbal-openmct was composable (drag and drop editing) the same way as other Open MCT displays; I think the screenshot is based on what he created.

I think you're well served to write a python app-- personally I'd use flask and flask-sockets with gevent-- that connects to krpc for data and then exposes that over HTTP + WebSocket for an Open MCT adapter to talk to.  Mos

[2017-06-06 21:13] larkin opened #13 "document additions/removals per step"
It would be helpful for those following the tutorials to see what lines are added/removed per each line of the tutorial.

git diff can be used to show diffs between the tags, which is a good stand in.  We should document this in the introduction.

[2017-06-22 11:59] ampeixoto opened #14 "Cannot read property 'key' of undefined"
Hi!

I'm starting to play around with the tutorials.

I cloned the project and when I run it, the following error is presented:

![error_openmct](https://user-images.githubusercontent.com/6080796/27432989-e3984128-5752-11e7-9ac5-0f05395bb0a6.PNG)

Don't think this should be happening...

[2017-06-22 16:28] VWoeltjen commented on #14
Thanks for reporting this! I believe this is a bug in Open MCT.

@larkin - I think we could fix this by registering a time system in these tutorials, but my preference would be to add some checks in the URL handler. This would qualify as unnecessary guard code if we expect that a time system is always active, but I don't think it should be URL population that imposes that constraint. (I have a rec

[2017-06-22 19:38] VWoeltjen commented on #14
nasa/openmct#1624 is the discussion I was thinking of above. Noting here to establish a little linkage, as an error message about time systems would have been more informative here

[2017-06-22 20:09] #14 closed

[2017-07-04 08:05] klepsydra-robotics opened #15 "chrome 59 in ubuntu 14.04 not working"
Hi,

I am getting the following error when running the tutorial in Ubuntu 14.04 with Chrome 59 and dont see any of the charts:

[code]

There are also repeated appearances of the following two messages:
[code]

These messages also appear in Firefox along with this one:

[code]

Please let me know if there is a fix for these.

Thanks,

Pablo.

[2017-07-05 17:29] larkin opened #16 "include step discussing Time API usage"
The time API is minimally configured and should be better explained in the context of telemetry.  At baseline, it should set a timeSystem so that developers don't see errors in the logs i.e. "you must set a time system".

[2017-07-05 17:30] larkin commented on #15
@klepsydra-robotics Hey Pablo-- thanks for reporting these bugs.  They are harmless, but they're confusing-- and we're removing them so you don't get confused.

That said, they shouldn't cause problems with your tutorial-- it should still work.

Can you try deleting node_modules/openmct and re-running `npm install`?

If that doesn't work, please let me know what node version and npm version you ar

[2017-07-06 03:40] klepsydra-robotics commented on #15
Hi Pete,

did what you suggested and indeed the errors don't show anymore. However, I still don't get any charts with Chrome, while in Firefox, all works OK....

Thanks,

Pablo.

[2017-08-04 02:52] ev1stensberg opened #18 "Telemetry Format in Object Provider"
Hi! Doing some work on the Yamcs plugin and have some questions about the format the telemetry need to be. From the tut, I've seen the telemetry registered as in the screenshot below:

---

![skjermbilde 2017-08-04 kl 04 45 30](https://user-images.githubusercontent.com/16735925/28952172-c7b87a92-78cf-11e7-9c7b-f5d3ab4eedfa.png)

---

With the Yamcs plugin, the types coming in from the Rest API is

[2017-08-04 02:54] ev1stensberg commented on #18
Would be a bit of a problem to convert too, as not all the incoming data from Yamcs is the same as in OpenMCT. Also getting empty data blocks, dunno what do plot instead of that

[2017-08-04 17:13] larkin commented on #18
@ev1stensberg

You will need to translate the YAMCS Parameter Info into an object understood by Open MCT, and you will need to translate the YAMCS Parameter Value into a telemetry datum.  This is why this sort of plugin is known as a Telemetry Adapter.  There may be some differences between YAMCS formats and Open MCT formats but most information should translate directly.  If you have questions in

[2017-08-04 20:01] ev1stensberg commented on #18
Exactly what I was looking for, and I know that my question was a bit vague composed. Thanks for elaborating @larkin ! 💯

[2017-08-04 20:01] #18 closed

[2017-08-05 14:20] ev1stensberg commented on #18
FWIW -- Thought that the initial telemetry needed some initial data, when in fact it's just plot settings ( If I've understood correctly)?

Wouldn't it be better to use **"List Parameter Info"**, when the information is the same?

for **"Get Paramerer Info"** you'd need two requests to figure out namespace and name, `/api/mdb/:instance/parameters/:namespace/:name`

[2017-08-05 23:34] ev1stensberg commented on #18
Basic functionality is up if you want to test @larkin . Need to change some of the incoming dataTypes and fix timestamps before its ready for a draft

[2017-08-07 20:15] larkin commented on #18
@ev1stensberg List vs Get: makes sense.

The initial is metadata is used by plots, image views, time controls, etc.  The providers get the actual telemetry values.

I briefly looked through your code, some things I noticed:
* For your plugin, you should allow the `:instance` parameter (as well as the YAMCS server URL/port) to be customized when the plugin is installed.
* You should be using a comb

[2017-08-24 07:41] klepsydra-robotics opened #19 "composition of data example?"
Hi,

I wonder if someone can provide an example on how to compose two sets of data into one telemetry panel, for example comms.recd and comms.sent? I know that in the demo there is an example in [MSL Mars Weather Layout](https://github.com/nasa/openmct-demo/blob/master/data/demo-models.json). But that one is tightly coupled to the MSL plugin. I was wondering if there is a simpler way to do it?
An

[2017-08-24 08:11] #15 closed

[2017-09-05 16:43] larkin commented on #19
@klepsydra-robotics take a look at the [live demo](https://openmct-demo.herokuapp.com), which walks you through editing displays.  In substance, you create a panel and then drag and drop telemetry points into it.

[2017-09-27 21:24] larkin opened #20 "add LICENSE.md"
openmct-tutorial is considered part of openmct and should include the same APLv2, i.e.

[code]

[2017-09-29 22:23] psarram commented on #5
@larkin I'm thinking of doing these steps to rename the master branch.

1.  git branch -m master completed
2. git push origin completed
3. Change the 'Default Branch' on github under Settings to completed
4. git push origin :master

Thoughts?

[2017-10-02 17:42] larkin commented on #5
@psarram Sounds good to me.

[2017-10-02 18:44] #20 closed

[2017-10-11 22:39] lancesimms opened #22 "Tutorial C Not Working"
Hello,

I have been trying to follow along with your tutorials. Unfortunately, I get errors and warnings (see screenshot attached) when I try to run a historical telemetry server, as shown in Part C. The versions of node and npm we are using are:

v8.1.1

5.0.3

Do you know what is causing these errors?

Also, are there any examples of using easier ways to read in telemetry data for display? For i

[2017-10-16 18:44] lancesimms commented on #22
Does anyone know why these error messages are present?

[2017-10-16 22:27] zicklag commented on #22
I just tried this, there is apparently a problem with Part C of the tutorial. I was able to run it off of master (0c5813f9) with your version of node and it worked just fine.

[2017-10-16 22:36] zicklag commented on #22
I  removed the `"x": 1` and `"y": 1` lines from the `dictionary.json` file and that got rid of all of the warnings. It looks like the API replaced the `x` and `y` keys with `domain` and `range`.

After doing that there is still a `TypeError: Cannot read property 'then' of null`, but that is because there is not a telemetry adapter for the objects yet. That should be fixed when you complete Part D.

[2017-10-16 22:52] zicklag commented on #22
You can use this [patch](https://github.com/nasa/openmct-tutorial/files/1389254/patch.txt) to fix it. Download the patch and run `git apply patch.txt`

[2017-10-17 17:56] lancesimms commented on #22
Thank you for the patch. However, it does not get rid of the errors I am seeing. See the screenshot below that shows the following two errors:

1) angular.min.js:110 TypeError: e is not a function
2) angular.min.js:110 TypeError: Cannot read property 'key' of undefined

Also, I don't understand why the historical telemetry server is not working. I am looking for traffic on port 8081 using:

And I

[2017-10-17 18:18] larkin commented on #22
@lancesimms are you by chance using the code from #17?  That changes the server so that it's no longer running on separate ports.

We'll have the tutorial updated shortly.

[2017-10-17 18:25] lancesimms commented on #22
I pulled the code using:

A git log shows:

commit 875246167614b45664aabe07dfe2b7bcae133a92
Author: Pete Richards <peter.l.richards@nasa.gov>
Date:   Tue May 9 20:04:26 2017 -0700

    V1.0 Update

[2017-10-17 20:00] psarram opened #23 "Borken snippet link in part-b-step3"
Snippet from [dictionary-plugin.js](https://github.com/nasa/openmct-tutorial/blob/part-c/dictionary-plugin.js#L63-L67) is off by two lines.

[2017-10-17 21:28] psarram commented on #23
Same with this link
https://github.com/nasa/openmct-tutorial/blob/part-c/dictionary-plugin.js#L34-L50

[2017-10-17 22:34] #23 closed

[2017-10-20 20:09] psarram commented on #5
@larkin Done.

[2017-10-20 20:09] #5 closed

[2017-10-20 20:11] psarram commented on #22
@lancesimms We have updated the tutorial. Please let us know if you still see the errors.

[2017-10-23 17:48] lancesimms commented on #22
@psarram Thank you very much. I just downloaded the package, re-installed it, and did the following:

1) git checkout -f part-c
2) Create the file historical-telemetry-plugin.js and add all of the lines shown in Part C of the tutorial
3) Edit index.html so that the lines match the ones in Part C of the tutorial
4) npm start

Most of the errors are gone, but I still see the one shown in the screens

[2017-10-24 21:49] psarram commented on #22
@lancesimms I see the error too. Looks like unsubscribeAll() in TelemetrySubscription is trying to call a null unsubscribe function.

[2017-10-24 21:59] zicklag commented on #22
When I was writing my own plugin I realized this too. I don't think OpenMCT should be trying to call the unsubscribe function on a historical telemetry plugin, but it is. If you make a realtime telemetry plugin that you *do* provide a unsubscribe function for ( because you need both the subscribe and unsubscribe functions for realtime ) it doesn't complain because the unsubscribe function exists.

[2017-10-26 20:56] ghost opened #24 "Misleading comment in part b step 1"
However, in the sample code for the plugin (which only prints to the console), there is no Open MCT API received as argument.

Absolutely awesome tutorial btw, it's so much better than the one before it :+1:

[2017-12-11 13:22] ashokmanghat opened #25 "node_modules/openmct/dist/openmct.js folder is not available"
Hi,

  I have tried out the application using the commands mentioned in the tutorials . But when i open the browser the application unable to locate the openmct js file in the mentioned folder. I have changed the node_modules/openmct/dist/openmct.js to node_modules/openmct/openmct.js but the application throws another exception - "require.js" not found.

[2017-12-11 16:42] akhenry commented on #25
@ashokmanghat Sorry to hear you're having problems with the tutorial. There was an issue with one of our dependencies that would cause the Open MCT build to fail. This might account for what you're seeing. If that's the case, then building the tutorials against the latest version of Open MCT should fix it. If you run the following from your Open MCT tutorial directory it will clear the cached vers

[2018-01-02 08:34] ashokmanghat commented on #25
When i faced the issue , i have pulled the openmct source code and started working on the same and adde my own plugins to it . I am currently using openmct-tutorials as a reference .

[2018-01-02 23:22] mteichtahl opened #26 "openmct dependency requires git password"
when running

`npm install`

I am prompted for a username/password. it seems this repo has either been made private or removed

[code]

[2018-01-24 18:27] akhenry opened #27 "http.js does not handle error response codes gracefully"
In brief, [it assumes the presence of a response header](https://github.com/nasa/openmct-tutorial/blob/d3bf486035510f05431e0d7f9268c0db668642ce/lib/http.js#L21) which will not be there in the event of an error response. This causes an exception to be thrown for many valid http response codes, rather than a promise rejection which is the desired behavior.

See https://github.com/nasa/openmct/issues

[2018-01-24 18:28] akhenry commented on #24
@BogdanAlexandru Ah, good point. I'll make sure we add some clarification here. Thanks for the feedback!

[2018-01-24 18:29] akhenry commented on #25
Closing this issue as I believe it's resolved. If it is reported again, I will reopen it.

[2018-01-24 18:29] #25 closed, assigned to nobody

[2018-02-02 21:18] thesamprice opened #28 "Bargraph, and presistance"
Could you update the bar-graph tutorial to the new plugin api and add it to this tutorial,
and add a persistence plugin to this tutorial.

- [ ]  bar-graph plugin
- [x]  Persistence plugin.

[2018-03-13 00:28] thesamprice commented on #28
Persistence plugin.

I copied the couchdb plugin out into the root directory, and then made two calls to
* openmct.legacyRegistry.register("/persistenceFlask", ...
* openmct.legacyRegistry.enable('/persistenceFlask')

Example can be seen here.
https://github.com/thesamprice/openmct-tutorial/blob/sams/persistenceFlask.js

[2018-04-28 16:08] HWyattWilson opened #29 "Problem getting started"
Not sure why, but after I enter "npm start" and go to http://localhost:8080 with my browser, nothing comes up.

[2018-04-28 16:18] deeptailor commented on #29
@hwyattwilson - could you take a screenshot of the chrome debugging console when you go to localhost:8080

[2018-04-28 16:23] HWyattWilson commented on #29
I'm using mozillla firefox, and I've been able to open a non-tutorial
version of openmct with it.

On Sat, Apr 28, 2018 at 12:18 PM, Deep Tailor <notifications@github.com>
wrote:

[2018-05-07 19:55] haekuh commented on #29
I am actually having the same problem. I have followed the steps in the tutorial so far but when viewing the js console for firefox I see the following. The problem occurs starting at part-a.

1. Loading failed for the <script> with source “http://localhost:8080/node_modules/openmct/dist/openmct.js”
2. ReferenceError: openmct is not defined

1 refers to index.html line 5

2 refers to index.html li

[2018-05-30 06:00] 9a3eedi commented on #29
I'm having the same problem: a blank page on localhost:8080. Checking the javascript console, I can see the following error

`Failed to load resource: the server responded with a status of 404 (Not Found) (openmct.js)`

I am not an expert on npm or javascript, but I figured maybe something went wrong with the npm install step. I got the following warnings during the npm install step:

[code]

Howe

[2018-05-31 17:56] akhenry commented on #29
Hi all. Sorry for the delay in addressing this. This might be an npm version issue. The tutorials depend on Open MCT as a git dependency. This involves cloning the Open MCT git repository and then building it in-situ. The build step depends on the 'prepare' build stage introduced in npm 4. The workaround here is to either upgrade your npm version if you're able to, or build the Open MCT dependency

[2018-06-18 18:55] dean9 commented on #29
^ i had the same issue, and it was resolved by updating npm as @akhenry said.

for mac os users, see this link for updating npm
https://stackoverflow.com/questions/11284634/upgrade-node-js-to-the-latest-version-on-mac-os#19333717

[2018-07-15 23:25] GeVic opened #30 "High severity vulnerabilities found in 'npm audit'"
I was trying out cloning this repo and doing install locally, npm install indicated 2 high severity vulnerabilities found.
Below is the flashed output on the terminal

[code]
@akhenry can you please look into the same. Although I know it's because of the dependencies but it would be good to address it for the beginners.

[2019-01-07 03:10] smithGit commented on #24
Also in Part B Step 1: Suggest advising user where to store dictionary-plugin.js.  In my case I stored in in example-server, in which case the script include needs to change to <script src="example-server/dictionary-plugin.js"></script>
I agree: Great tutorial - Thanks!

[2019-01-08 18:03] akhenry commented on #29
Closing this for now, as it appears to be an npm version issue. Will reopen if folks are still having problems.

[2019-01-08 18:03] #29 closed, assigned to nobody

[2019-01-08 18:11] akhenry commented on #26
I believe that this was fixed by https://github.com/nasa/openmct/issues/1808. There may be a similar issue with this dependency, which is currently tracked in https://github.com/nasa/openmct/issues/2215

[2019-01-08 18:11] #26 closed, assigned to nobody

[2019-01-08 18:54] akhenry commented on #30
@GeVic Thanks for reporting this!

These two vulnerabilities appear to in fact be the same vulnerability - a DOS attack vector in the `ws` dependency. As [stated in our documentation](https://github.com/nasa/openmct-tutorial#installing-the-tutorials), the tutorial server should not be used in a production environment, so the scope for any potential damage due to this vulnerability is zero.

That s

[2019-01-08 19:00] akhenry commented on #19
Looks like this is addressed through plot composition. Let me know if this is not the case and will reopen.

[2019-01-08 19:00] #19 closed

[2019-01-08 19:00] #24 closed, assigned to akhenry

[2019-01-08 19:01] #30 closed, assigned to nobody

[2019-01-08 23:28] akhenry commented on #22
This is due to a bug in the telemetry API's legacy provider handling. The issue lies in the main repo, so I've filed an issue there, and I'm going to close this as the originally reported issue has been resolved.

[2019-01-19 21:40] justin-schachter opened #33 "MacOS npm error"
By following the instructions in the tutorial via Homebrew, npm does not work on High Sierra. In order to get node/npm to work properly in order to install Open MCT, please go here: http://nodejs.org/
and follow the big green button. Installing via npm should work properly that way.

[2019-01-25 03:34] rivermoon21 opened #34 "Help needed with Object Provider and Object composer."
Hello, I am trying to build and display an object that has a root folder, subsystems, and the subsystem's data point. However, when I try in the code, the subsystems appear repeatedly every time [as shown in pic].
![objectproviderinfinite](https://user-images.githubusercontent.com/11859737/51723624-ab795f80-200e-11e9-806c-e66ba467e445.png)

Can you guys help me figure out what I need to add to my

[2019-01-27 14:43] plaa opened #35 "Supports only one listener per key"
The tutorial telemetry provider implementation supports only one subscriber per key. Later subscriptions overwrite the listener. Each key should have an array of listeners instead.

While the implementation works for the exact tutorial use case, it breaks if you add additional graphs. The tutorial may also used as a basis for further development, so it can be a source of much confusion.

A proper

[2019-02-01 19:33] defied commented on #29
Still having this issue.
xxxx@localhost:~/git/openmct$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.1 LTS
Release:	18.04
Codename:	bionic
xxxx@localhost:~/git/openmct$ npm --version
6.7.0
xxxx@localhost:~/git/openmct$ nodejs --version
v8.10.0
xxxx@localhost:~/git/openmct$ npm start

Open MCT application running at 10.0.51.152:8080

[2019-03-06 22:56] HowardPautz commented on #29
ok - l wonder if this is the problem I'm having - or at least related ?
 " 23 error Failed at the openmct@0.14.0-SNAPSHOT start script.
   23 error This is probably not a problem with npm. "

git'd fresh version of MCT
onto
Ubuntu 18.0.4 LTS (Bionic)
npm -v  is 6.9.0
node -v is 8.10.0
npm start  - fails ... here's the entire log file:
Please advise

0 info it worked if it ends with ok
1 verbose cl

[2019-04-30 21:24] spinkernel opened #36 "Wrong paths"
In part A it mentions <script src="node_modules/openmct/dist/openmct.js"></script>
dist doesn't exist.

[2019-04-30 21:36] spinkernel commented on #29
Using 3.5.2 (version included in Ubuntu 18.04)
I manually did npm install on node_modules/openmct/
I'm getting requirejs no defined.
I get this with the openmct install and the tutorial.
![nodejs](https://user-images.githubusercontent.com/47649627/56994973-60af3c80-6b55-11e9-88c4-0ae3216b4639.PNG)

[2019-04-30 21:39] #36 closed, assigned to nobody

[2019-05-09 01:57] davidskeck opened #37 "Update for new APIs"
Should these be updated for the new OpenMCT APIs?

[2019-05-14 23:34] davidskeck commented on #33
Very good issue. I just confirmed this one myself.

[2019-05-29 20:45] tmar89 opened #38 "npm install error"
npm install fails because of a syntax error after I check out the repository.

[code]

[2019-05-30 04:32] tmar89 commented on #38
Needed to upgrade node/npm

[2019-05-30 04:32] #38 closed, assigned to nobody

[2019-10-17 10:18] dldg opened #39 "In Step 3 addType snippet should be part of dictionary-plugin.js"
The following snippet should also be shown in dictionary-plugin.js snippet in Step 3 as part of the install function:

[code]

[2019-11-14 06:39] jrevillas opened #40 "Installation error on macOS with Node.js v12.9.0"
I'm getting the following error when running `npm install`. I'm using Node.js v12.9.0 and `npm` 6.11.3 on macOS Catalina 10.15.1.

[code]

[2019-11-15 23:01] jrevillas commented on #40
It works on Node.js v11.15.0 and `npm` 6.13.0.

[2020-05-25 05:57] RyanProffitt opened #41 "Update Tutorials"
Hi, it's been a little over 2 years since the last release. Just wondering, are these tutorials still relevant for the latest version of the OpenMCT API?

It seems that the tutorial's method for plugin creation does not play well with the [latest OpenMCT release](https://github.com/nasa/openmct). When I try to practically apply the strategy on a forked version of that repo, all I get are 404 error

[2020-08-20 00:20] mnawaz779 commented on #29
I followed below steps as listed in tutorial:
git clone https://github.com/nasa/openmct-tutorial.git
cd openmct-tutorial
npm install

I have nodejs version: v12.18.3 and npm version: 6.14.6 on Windows 10 laptop.
When I run >>npm install, I am hitting following error.

C:\Training\openmct\openmct-tutorial>npm install
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > node-sass@4.14.1 install C:\Use

[2020-08-20 19:40] jvigliotta commented on #29
Hi @mnawaz779 can you paste the whole command line output?

[2020-08-20 20:23] jvigliotta commented on #29
Hi @mnawaz779 after consulting with the team, seems we've run into this issue before. Looks like node is not in your path for running scripts.

Try: `npm install --scripts-prepend-node-path`

We have noticed the build failing on Windows past this point, so please let us know if you run into any more issues.

[2020-08-22 23:20] mnawaz779 commented on #29
Hello,
Tried >npm install --scripts-prepend-node-path
Still getting the similar error. Whole error message pasted below:
+++++++++++begin error screen+++++++++++

E:\0.1OpenMCT\openmct-tutorial.git\openmct-tutorial>npm install --scripts-prepend-node-path
npm ERR! prepareGitDep 1>
npm ERR! prepareGitDep > node-sass@4.14.1 install C:\Users\mnawaz\AppData\Roaming\npm-cache\_cacache\tmp\git-clone-60f7

[2020-09-08 02:51] mnawaz779 opened #42 "Passing additional parameter to historical telemetry plugin"
I am using openmct framework to build telemetry dashboard. I am implementing historical telemetry plugin for the application. The options object passed to the "request function" of the "provider" supplies the options.start and options.end time for the historical query. The telemetry data source requires one more parameter like "level" to get the historical telemetry. Currently I have the "level" p

[2020-09-08 02:56] mnawaz779 commented on #29
I had to switch to Windows WSL/Ubuntu 18.x to make it work. Due some reason or other the latest code never worked from  Windows command prompt. The npm install consistently failed.
Thanks

[2020-09-08 03:02] deeptailor commented on #42
Hi Mnawaz779,

This is a good question. You could pass the level parameter via the domainObject. An example would be, having 3 domainObjects that correspond to low, medium and high levels, and then when passed to the historical provider you can make the correct request accordingly.

-Deep Tailor

[2020-09-08 12:51] mnawaz779 commented on #42
Hi Deep,

i can extend the domainObject to include level. However, i am not sure how to pass the level selection from level selector vue control to the domain object. I have 10 different levels at which historical data can be viewed so I have to use single domain object or plugin to pull historical data. So, how to pass level information from level selector to domaiObject is still a challenge for

[2020-09-08 14:39] deeptailor commented on #42
Hi,

You can mutate the domainObject (using openmct.objects.mutate), with the level the use has selected. Then pass the mutated domainObject to the request call, which will be passed on to your historical provider.

Let me know if you need further guidance.

Thank you,

Deep Tailor

[2020-09-08 19:22] mnawaz779 commented on #42
Hi Deep,

The level selector has been created using Vuejs that resides inside the timeConductor plugin folder. The historytelemetry plugin lives in its own folder. I am trying to use level select event handler of the  Vue component to mutate the domainObject and update the level parameter that will be used by historyTelemetry plugin. But is does not work. I am missing some basic mechanism to pass

[2020-09-09 18:07] mnawaz779 commented on #42
Looking for information on how to pass data from one plugin to another using Openmct framework. If anyone has some guidance or hints please let me know.
Thanks,

[2020-09-09 19:31] deeptailor commented on #42
Mohammed,

Thinking about this a little more, you can pass an options object to the historical provider, which will then get start and end times added by the telemetry provider.

You can use a shared object between plugins to share information. We do this with domainObjects between the inspector views and main view.

If you want to communicate between the time conductor and a view plugin, I would

[2020-09-11 00:54] mnawaz779 commented on #42
Thank you for your time and sharing your thoughts on this task. I will look into this further and update the forum once I have something concrete.
Thanks again,
-mnawaz779

[2020-09-15 07:29] frunkad commented on #41
Installing the tutorial currently results in several NPM errors.

[2020-11-19 14:52] egmed opened #43 "Can anybody help with an example on how to create a layout which shows the different graphs in this tutorial in a single dashboard layout?"
I think this could help a lot of people who wants to create a dashboard with many graphs at the same page.

Would really appreciate an example on how to take the current graphs in the tutorial (e.g: prop.fuel, pwr.temp, pwr.c, pwr.v), and show them in a single layout dashboard.

Thanks

[2021-01-18 18:10] AcidLeroy opened #44 "[OpenMCT Tutorial] Using only Realtime (no historical data) telemetry issue"
I'm looking into using OpenMCT for a project of mine, however I do not need historical telemetry data. In order to see if OpenMCT was going to be the tool I could use, followed the [getting started tutorial](https://github.com/nasa/openmct-tutorial) and slightly modified the `index.html` to only include the realtime plugin. My changes to the tutorial are below:
[code]

After running this code, eve

[2021-03-21 11:14] thomaspaulin opened #45 "Dictionary Plugin not visible in the object tree (part-b-step-2)"
I've used `git checkout -f part-b-step-2` to checkout out the tag. I then copied the code snippet to create the dictionary plugin
[code]
Starting the application I see only "Loading..." in the object tree. I added console log call to the plugin function before and after calling `addRoot`. These both ran as expected. This says to me something is going wrong in the `addRoot` function at this particu

[2021-03-21 15:35] kelliott121 commented on #45
I'm seeing this behavior as well.

[2021-04-08 20:50] trusktr commented on #45
Same here. I see that the tutorials have been updated, but the git tags have not been re-assigned yet. Perhaps it is already fixed. Taking a look...

[2021-04-08 20:52] trusktr opened #46 "Avoiding the flash of unstyled content at the beginning"
On the end-user side, the following does the trick.

Change

[code]

to

[code]

A fix can be made inside `openmct.start()`.

[2021-05-21 00:34] ilhamije commented on #41
Hi,
I have this error when running the `npm install`
Error `git dep preparation failed`

It turns out that the installation failed when installing OpenMCT from github repository. I did a workaround, so installation would be like :

- run "git clone ​https://github.com/nasa/openmct-tutorial.git"
- remove 'openmct' line from package.json, then save it.
- run "npm install"
- run "npm i openmct —no-sa

[2021-05-21 20:41] jvigliotta commented on #45
@thomaspaulin Hi! Thanks for pointing this out. Sorry for the delay. This is definitely a bug, as the tutorial states you should be seeing a default "missing" object.  We'll take a look at this, but in the meantime, you can skip this step and add the provider in the next step.

[2021-06-18 14:20] gitLRD opened #47 "Incorrect MIME types - Part A"
Hi guys,

I'm new to Node and web dev in general, so apologies if this is really basic.

I've implemented tutorial part A but all I get when I go to localhost:8080 is a blank page. Looking at the developer tools I see the following:

[code]
My index.html is in the root of my openmct-tutorial directory, although I've also tried it in the example-server directory (just in case).

What am I missing h

[2021-07-07 19:16] khalidadil commented on #41
@akhenry I ran into this same issue when setting this up and was able to solve it using what @ilhamije did

[2021-07-07 21:26] akhenry commented on #41
Thanks for reporting everyone.

@jvigliotta Let's switch the tutorial to use [our NPM build as a dependency](https://www.npmjs.com/package/openmct), instead of building out of GitHub

[2021-07-13 21:14] jvigliotta commented on #41
Thanks everyone, we've updated our dependency to our NPM package. This should alleviate those git errors during installation. If any other issues come up please let us know in a new issue. We'll also be taking a look at how our tutorial is holding up 2 years in and making any needed updates.

[2021-07-13 21:14] #41 closed, assigned to nobody

[2021-07-26 13:33] evanfitzgerald commented on #47
@gitLRD Do you have the directory 'openmct' inside the 'node_modules' directory? This is likely the issue, if it is, then just add it and the error should be resolved.

[2021-07-26 13:46] evanfitzgerald commented on #44
@AcidLeroy Yes, openMCT supports only realtime data. The problem may be stemming from the example-server, where it is still attempting to use historical data (see server.js). If you comment that out, then the error should be resolved.

[2021-07-26 16:57] jvigliotta commented on #44
Thanks @evanfitzgerald ! Another option would be to return false here: https://github.com/nasa/openmct-tutorial/blob/123775adbb5c61d217836b210a9dfe99d89175bb/historical-telemetry-plugin.js#L9 some views will request both realtime and historical, but if you have a historical provider that returns false for "supportsRequest" then it shouldn't make those calls.

[2021-07-26 17:41] evanfitzgerald commented on #43
@egmed As a quick non-tutorial solution, you could try:
1. Selecting 'Create +' in the top left corner of openMCT.
2. Selecting 'Flexible Layout'
3. Drag and drop the telemetry sources into that view.
4. After which they can all be seen together.
Also feel free to use the Display layout to put different telemetry sources together.

[2021-07-30 14:32] Sniperpilot16 opened #49 "Stream of Images"
Hello,

On an openmct page I had seen (namely: https://openmct-demo.herokuapp.com/#/browse/demo:root/demo:3?view=layout&tc.mode=local&tc.timeSystem=utc&tc.startDelta=900000&tc.endDelta=0 ), there is a stream of images coming in from the rover. As I am fairly new with this program and HTML, how would I go about sending the most recent image to a "stream" on my openmct server?

Any help would be gre

[2021-09-01 18:58] JimHofman opened #50 "Having trouble with the npm install command"
I am running 'install npm' in the opermct-tutorial directory.  It starts off fine;  I then get numerous err messages:
Setup on my maching:
MT-304593:openmct-tutorial jehofman$ which npm
/usr/local/bin/npm
MT-304593:openmct-tutorial jehofman$ node --version
v15.9.0

I included all the error messages.  I'm obviously not an npm expert, so I'm not sure how to debug this.
'ERR!" messages:

npm ERR! cod

[2021-09-01 19:00] jvigliotta commented on #50
Hey @JimHofman can you try the steps outlined here: https://stackoverflow.com/questions/66434750/npm-err-git-dep-preparation-failed-when-trying-to-install-package-json

Let me know if this solves it for you. If not we'll investigate further.

[2021-09-22 20:28] jdekarske commented on #50
I'm currently having the same issue. That stackoverflow question didn't help.
[code]
[code]

[2021-09-22 21:39] jdekarske commented on #50
I used `nvm` to revert to node 12 and that fixed it. weird that v14 works with the main openmct repo
[code]

[2021-09-24 22:10] JimHofman commented on #50
Thanks Jason,

Everything is working now.

I was using the current node and it did not support it.  You guys had a
message that told me.
I should have seen it.

Jim

On Wed, Sep 22, 2021 at 2:40 PM Jason Dekarske ***@***.***>
wrote:

[2021-10-20 17:27] jannismain opened #51 "Server crashes when trying to display any telemetry source from "Example Spacecraft""
Whenever I try to click on any telemetry source for the Example Spacecraft, the server crashes with the following output:

[code]

![2021-10-20 7 20 43 PM](https://user-images.githubusercontent.com/14290527/138141248-b39cd140-aaea-494d-bf3c-6bf617080475.gif)

The issue seems related to the `express-ws` module. Anything I could have done differently to cause this? I know that the tutorial used to w

[2021-10-20 17:50] akhenry commented on #51
Thanks for reporting, and for the package-lock! That will help a lot.

This is new behavior, and it's not anything you've done.

Could you tell us which version of Chrome you're using?

[2021-10-20 17:52] akhenry commented on #50
@JimHofman  No worries, glad it's working now.

[2021-10-20 17:52] #50 closed, assigned to nobody

[2021-10-20 17:56] JimHofman commented on #50
Thanks!

On Wed, Oct 20, 2021 at 10:52 AM Andrew Henry ***@***.***>
wrote:

[2021-10-20 20:20] akhenry commented on #51
@jannismain I am noticing that `express-ws` does not appear in your `package-lock.json`. My `package-lock.json` shows `express-ws` version 4.0.0. Not quite sure what this means yet, but is it possible you have `express-ws` installed globally? Or did you remove the `express-ws` dependency from your `package.json` before you ran `npm install`?

[2021-10-21 08:28] jannismain commented on #51
I have tried it with the following Browsers:
* Brave: Version 1.30.89 Chromium: 94.0.4606.81 (Official Build) (x86_64)
* Chromium: Version 89.0.4389.0 (Developer Build) (x86_64)
* Firefox: 93.0 (64-bit)

The browser console at time of the crash shows the following:
[code]

[2021-10-21 08:30] jannismain commented on #51
Regarding the `package-lock.json` I might have given you the wrong one (from `openmct` instead of `openmct-tutorial`). Sorry about that.

Here is the correct one:
[package-lock.json.zip](https://github.com/nasa/openmct-tutorial/files/7387365/package-lock.json.zip)

[2021-11-29 20:55] trusktr commented on #46
Me me me me, assign to me! ✋

[2021-11-29 21:01] akhenry commented on #46
I *think* this is the same issue as https://github.com/nasa/openmct/issues/3502 (correct me if this is actually something slightly different).

If it is, a `setTimeout` might not be enough. Are there any other solutions we can explore? I also want to be careful to avoid adding any unnecessary delays on fast systems.

@charlesh88 May have some thoughts on this.

[2021-11-29 21:04] trusktr commented on #46
Yeah, that's the same issue. Indeed a setTimeout may not work all the time. I'll close this one for that one.

[2021-11-29 21:04] #46 closed, assigned to trusktr

[2021-11-29 21:43] jvigliotta commented on #45
Hello all, @thomaspaulin @kelliott121 @trusktr This is working now in our latest version of Open MCT (1.8.1-SNAPSHOT), you wouldn't need to do anything on a fresh install, but if you're working from previous versions, you will want to remove the node_modules folder and the package-lock.json and npm install and npm start.

Going to close this now, if anything else comes up let us know!

[2021-11-29 21:43] #45 closed, assigned to jvigliotta

[2022-01-24 10:55] bruno-luca opened #52 "Implement my own telemetry"
Hi guys,

I'm new to OpenMCT and i'm getting stucked while implementing my own telemetry data. I've cloned openmct-tutorial repository and started it with `npm start` and everything just work fine. What i would like to do now is to take telemetry sent by a python script and visualize in an appropriate object.

I'm able to create objects for my telemetry with plugins but i can't understand what i h

[2022-01-26 17:26] jvigliotta commented on #52
Hello! Please see: https://github.com/nasa/openmct/discussions/4776 for more information regarding this. Thanks for reaching out!

[2022-01-26 17:26] #52 closed, assigned to nobody